<h3>{{viewTitle}}</h3>

<form action="/Candidate" method="POST">
    <div class="form-group">
        <label>Full Name</label>
        <input type="text" class="form-control" name="FullName" placeholder="Full Name">
    </div>

    <div class="form-group">
        <label>Email</label>
        <input type="text" class="form-control" name="Email" placeholder="Email">
    </div>
    
    <div class="form-group">
        <label>Test Score 1</label>
        <input type="number" class="form-control" name="TestScore1" placeholder="Enter Score">
    </div>

    <div class="form-group">
        <label>Test Score 2</label>
        <input type="number" class="form-control" name="TestScore2" placeholder="Enter Score">
    </div>

    <div class="form-group">
        <label>Test Score 3</label>
        <input type="number" class="form-control" name="TestScore3" placeholder="Enter Score">
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-info"><i class="fa fa-database"></i> Submit</button>
    </div>
    
</form>